<div class="search container-main section">
  <div class="section-container grid" data-aos="fade-up" data-aos-duration="2000">
    <div class="search-inputs flex">
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>where_to_vote</mat-icon>
        </div>
        <div class="texts">
          <h4>Location</h4>
<!--          <mat-form-field>-->
<!--            <input type="text" placeholder="Where you want to go?" >-->

<!--              <input type = "text"[value]= "accomodation.city + ',' + accomodation.country" [(ngModel)]="cityCountry">-->

<!--              {{ accomodation.city }}, {{ accomodation.country }}-->

<!--          </mat-form-field>-->
          <mat-form-field>
            <input matInput type="text" placeholder="City" [(ngModel)]="city">

          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Country" [(ngModel)]="country">
          </mat-form-field>

        </div>
      </div>
       </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="texts">
          <h4>Number of guests</h4>
<!--           [matAutocomplete]="autoGuests">-->
<!--    <mat-autocomplete #autoGuests="matAutocomplete">-->

            <mat-form-field class="example-full-width">
              <mat-label>Insert number of guests</mat-label>
              <input type="number" min="0" matInput placeholder="Insert number of guests" value="1" [(ngModel)]="numberOfGuests">
            </mat-form-field>
<!--    </mat-autocomplete>-->
        </div>
      </div>

      <div class="date">
        <h4>Date range</h4>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" placeholder="Choose an end date" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>



      </div>
      <button (click)="searchAccomodations()" class="btn btn-block flex">
        Search accomodations
      </button>
    </div>
    <ng-container *ngIf="isLoading; else results">
    </ng-container>
    <ng-template #results>
      <div *ngFor="let result of searchResults">
      </div>
    </ng-template>

