<!--
<div class="search container-main section">
  <div class="section-container grid" data-aos="fade-up" data-aos-duration="2000">
    <div class="search-inputs flex">
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>where_to_vote</mat-icon>
        </div>
        <div class="texts">
          <h4>Location</h4>
&lt;!&ndash;          <mat-form-field>&ndash;&gt;
&lt;!&ndash;            <input type="text" placeholder="Where you want to go?" >&ndash;&gt;

&lt;!&ndash;              <input type = "text"[value]= "accomodation.city + ',' + accomodation.country" [(ngModel)]="cityCountry">&ndash;&gt;

&lt;!&ndash;              {{ accomodation.city }}, {{ accomodation.country }}&ndash;&gt;

&lt;!&ndash;          </mat-form-field>&ndash;&gt;
          <mat-form-field>
            <input matInput type="text" placeholder="City" [(ngModel)]="city">

          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" placeholder="Country" [(ngModel)]="country">
          </mat-form-field>

        </div>
      </div>
       </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="texts">
          <h4>Number of guests</h4>
&lt;!&ndash;           [matAutocomplete]="autoGuests">&ndash;&gt;
&lt;!&ndash;    <mat-autocomplete #autoGuests="matAutocomplete">&ndash;&gt;

            <mat-form-field class="example-full-width">
              <mat-label>Insert number of guests</mat-label>
              <input type="number" min="0" matInput placeholder="Insert number of guests" value="1" [(ngModel)]="numberOfGuests">
            </mat-form-field>
&lt;!&ndash;    </mat-autocomplete>&ndash;&gt;
        </div>
      </div>

      <div class="date">
        <h4>Date range</h4>
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endDatePicker" placeholder="Choose an end date" [(ngModel)]="endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker></mat-datepicker>
        </mat-form-field>



      </div>
      <button (click)="searchAccommodations()" class="btn btn-block flex">
        Search accommodations
      </button>
    </div>
    <ng-container *ngIf="isLoading; else results">
    </ng-container>
    <ng-template #results>
      <div *ngFor="let result of searchResults">
      </div>
    </ng-template>
  <app-reserve-accomodation-card></app-reserve-accomodation-card>

-->
<div class="search container-main section">
  <div class="section-container grid" data-aos="fade-up" data-aos-duration="2000">
    <div class="search-inputs flex">
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>location_on</mat-icon>
        </div>
        <div class="texts">
          <h4>Location</h4>
          <mat-form-field>
            <input type="text" placeholder="Where you want to go?" matInput [formControl]="location"
                   [matAutocomplete]="autoTo">
            <mat-autocomplete #autoTo="matAutocomplete">
              <mat-option *ngFor="let flight of filteredLocations | async"
                          [value]="flight.city + ',' + flight.country">
                {{ flight.city }}, {{ flight.country }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>account_circle</mat-icon>
        </div>
        <div class="texts">
          <h4>Number of guests</h4>
          <mat-form-field class="small-input">
            <input type="number" placeholder="Add passenger number" matInput
                   [formControl]="numberOfGuests" >
          </mat-form-field>
        </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="texts">
          <h4>From</h4>
          <mat-form-field class="medium-input">
            <input matInput [matDatepicker]="picker1" [formControl]="from" placeholder="Add date">
            <mat-datepicker-toggle matIconSuffix [for]="picker1"/>
            <mat-datepicker #picker1/>
          </mat-form-field>
        </div>
      </div>
      <div class="single-input flex">
        <div class="icon-div">
          <mat-icon>calendar_today</mat-icon>
        </div>
        <div class="texts">
          <h4>To</h4>
          <mat-form-field class="medium-input">
            <input matInput [matDatepicker]="picker" [formControl]="to" placeholder="Add date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"/>
            <mat-datepicker #picker/>
          </mat-form-field>
        </div>
      </div>
      <button (click)="searchAccommodations()" class="btn btn-block flex">
        Search
      </button>
    </div>
    <ng-container *ngIf="isLoading; else results">
    <!--  <app-loading-animation/>-->
    </ng-container>
    <ng-template #results>
      <div *ngFor="let result of searchResults">
       <!-- <app-search-card [flight]="result" [numberOfTravelers]="numberOfTravelers.value" (deletedFlight)="deleteFlight($event)"/>-->
      </div>
    </ng-template>
  </div>
</div>
