.notifications-container{
  padding-top: 12rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.notifications{
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1rem;
}
