<div class="window">
  <h1>Create an accommodation</h1>
  <div class="form">
    <div class="column">
      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Insert name</mat-label>
          <input matInput [(ngModel)]="name" placeholder="insert Name" value="Name">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Insert country</mat-label>
          <input [(ngModel)]="country" matInput placeholder="insert coutry" value="Country">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Insert city</mat-label>
          <input [(ngModel)]="city" matInput placeholder="insert city" value="City">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Insert street</mat-label>
          <input [(ngModel)]="street" matInput placeholder="insert street" value="Street">
        </mat-form-field>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Insert maximum guests</mat-label>
          <input type="number" [(ngModel)]="max" pattern="[0-9]+" min="0"  matInput placeholder="maximum guest" value="1">
        </mat-form-field>
      </div>
      <div class="field">
        <mat-form-field class="example-full-width">
          <mat-label>Insert minimum guests</mat-label>
          <input type="number" [(ngModel)]="min" pattern="[0-9]+" min="0" matInput placeholder="minimum guests" value="1">
        </mat-form-field>
      </div>

    </div>
    <div class="column">

      <div class="field">

        <p><mat-checkbox [(ngModel)]="wifi">wifi</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="kitchen">kitchen</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="airCondition">air condition</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="freeParking">free parking</mat-checkbox></p>
        <p><mat-checkbox [(ngModel)]="fridge">fridge</mat-checkbox></p>

      </div>

    </div>
    <div class="subimt-button" style="margin-top: 2%">
      <button mat-button (click)="create()" >Create</button>
    </div>
  </div>





</div>


