<div class="container-main">
  <div class="home-content">
    <div class="flight-card">
      <div class="content-flight">
        <div class="flight-details">
          <div class="flight-info">
            <img src="assets/images/hotel.jpg" alt="Accommodation">
          </div>
          <div class="flight-divider">
          </div>
          <div class="flight-info">
            <div class="flight-time">
              <p class="time">Name</p>
              <p class="date">arrivalDate - departureDate</p>
              <p class="date">Guests</p>
              <p class="place">Street, City, Country</p>
            </div>
          </div>
        </div>
      </div>
      <div class="one-price">
        <h4 class="price-text">Price per person</h4>
        <div class="class-price">
          <p>One night: <span>€</span></p>
        </div>
        <div class="class-price">
          <p>In total: <span>€</span></p>
        </div>
      </div>
      <div class="total-price">
        <h4 class="price-h">Price in total</h4>
        <div class="class-price">
          <p>One night: <span>€</span></p>
        </div>
        <div class="class-price">
          <p>In total: <span>€</span></p>
        </div>
        <button class="btn-delete-lg book"  >Cancel</button>
      </div>
    </div>

  </div>
</div>
